* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body, h1, h2, h3, h4, h5, h6, p, span, a{
	font-family: 'Work Sans', sans-serif;
}
body ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
body a {
  text-decoration: none;
}
.btn-default {
  background: #ffffff;
  padding: 16px 24px;
  color: #7d7d7d;
  text-decoration: none;
  border-radius: 5px;
  font-size: 21px;
  font-weight: bold;
  transition: all 0.3s ease-in;
}
.btn-default:hover {
  color: #fff;
  background: #6278DF;
}
.bg-default {
  background: #F7F9FF;
}
  /*--------------------------------------------------------------
  # Header Section Start
  --------------------------------------------------------------*/

  .header-section .navbar-brand img {
    width: 60px;
    margin-right: 10px;
  }
  .header-section .navbar-brand span {
    display: inline-block;
    font-size: 26px;
    font-weight: 500;
  }
  .header-section .logo-txt {
    display: inline-block;
    color: #000;
    transition: all 0.2s ease-in;
  }
  .header-section .navbar-brand:hover .logo-txt{
    color: #cecccc;
  }
  .header-section .nav-item .nav-link {
    color: #111;
    font-size: 17px;
    padding-left: 30px;
    padding-right: 30px;
    transition: all 0.1s linear;
  }
  .header-section .nav-item:hover .nav-link{
    color: #6278DF;
  }
  .header-section .dropdown-item{
    color: #111;
    transition: all 0.1s linear;
  }
  .header-section .dropdown-item:hover{
    color: #6278DF;
  }
  .header-section .dropdown-menu{
    top: 142%;
  }
  .header-section .btn-outline-info {
    color: #6278DF;
    padding: 8px 28px;
    border-color: #6278DF;
    transition: all 0.3s linear;
  }
  .header-section .btn-outline-info:hover {
    background: #6278DF;
    color: #fff;
  }

  /* -------------------------------
  Header Section End Here
   --------------------------------*/

  /* -------------------------------
  Hero Section Start Here
   --------------------------------*/
.hero-section {
    background: url(image/mbr-4.jpg) no-repeat center center fixed;
    background-size: cover;
    padding: 200px 0;
    position: relative;
    z-index: 999;
}
.hero-section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
}
.hero-content h1 {
  font-size: 60px;
  font-weight: 600;
  margin: 21px 0;
  margin-bottom: 45px;
}
.hero-content .hero-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
 /* -------------------------------
  Hero Section End Here
   --------------------------------*/

  /* -------------------------------
  Abaout Section Start Here
   --------------------------------*/
   .about-section {
    padding: 80px 0;
   }
 /* -------------------------------
  About Section End Here
   --------------------------------*/

   /* ----------------------------
   Services Section Start Here
   ----------------------------- */
   .section-heading .h1-head {
    font-size: 65px;
    font-weight: bold;
}
.service-item {
  padding: 26px 26px;
}
.mt-c80 {
  margin-top: 80px;
}
.service-item .service-icon i{
  font-size: 35px;
  color: #6278DF;
}

   /* ----------------------------
   Services Section Start Here
   ----------------------------- */

/* -----------------------------------
   Pricing Table Section Start Here
------------------------------------- */

.pricing-table-section .card-top {
  border-bottom: 1px solid #ddd;
  transition: all 0.2s ease-in;
}
.pricing-table-section .card-top h1 {
  font-size: 50px;
}
.pricing-table-section .card-top h1 span {
  display: inline-block;
  font-size: 23px;
}
.pricing-table-section .card-bottom ul li {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 0;
  color: #767676;
}
.pricing-table-section .card-bottom ul li i {
  display: inline-block;
  width: 41px;
  font-size: 28px;
  color: #6278DF;
}
.pricing-table-section .card-btn {
  padding: 30px 0;
}
.pricing-table-section .card-btn a {
  padding: 19px 35px;
  background: #fff;
  font-weight: bold;
  color: #767676;
  border-radius: 5px;
  font-size: 19px;
  border: 1px solid #ccc;
  transition: all 0.3s ease-in;
}
.pricing-table-section .card-btn a:hover {
  background: #6278DF;
  color: #ffffff;
  border: 1px solid #6278DF;
}
.pricing-table-section .card:hover .card-top {
  background: #6278DF;
  color: #fff;
}
/* -----------------------------------
   Pricing Table Section End Here
------------------------------------- */

/* -----------------------------------
   Team Section Start Here
------------------------------------- */
.team-section .card .card-img-top {
  border-radius: 14px 14px 0 0;
}
/* -----------------------------------
   Team Section End Here
------------------------------------- */

/* -----------------------------------
   News Letter Section Start Here
------------------------------------- */
.news-letter-section {
  padding: 80px 0;
}
.newsLetter-form input[type="submit"] {
  background: #6278DF;
  border: none;
  padding: 12px 37px;
  border-radius: 5px;
  color: #fff;
  transition: all 0.3s ease-in;
}
.newsLetter-form input[type="submit"]:hover {
  background: #1e3bba;
}

/* -----------------------------------
   News Letter Section End Here
------------------------------------- */
/* -----------------------------------
   Blog Section Start Here
------------------------------------- */
.blog-section .blog-paragraph {
  font-size: 19px;
}
.blog-post-item img {
  max-width: 283px;
}
/* -----------------------------------
   Blog Section End Here
------------------------------------- */

/* -----------------------------------
   Testmonial Section Start Here
------------------------------------- */
.testimonial-section .testimonial-item {
  padding: 31px;
  position: relative;
   box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
  z-index: 99;
  transition: all 0.2s ease-in;
}
.testimonial-section .testimonial-item:hover {
   box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.testimonial-section .testimonial-item .qute-icon {
  position: absolute;
  left: 17px;
  top: -8px;
  z-index: -1;
}
.testimonial-section .testimonial-item .qute-icon i {
  font-size: 94px;
  color: #EFEFEF;
}
.testimonial-item > p {
  position: relative;
}
.testimonial-item > p::after {
  content: "";
  position: absolute;
  left: -122px;
  bottom: -67px;
  right: 0;
  margin: auto;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 0 20px;
  border-color: #ffffff transparent transparent transparent;
}
.testmonial-bio img {
  border-radius: 50%;
  width: 80px;
  margin-right: 20px;
}
/* -----------------------------------
   Testmonial Section End Here
------------------------------------- */

/* -----------------------------------
   Contact Section Start Here
------------------------------------- */
.contact-form input.btn-info {
  padding: 14px 64px;
  background-color: #6278DF;
  color: #fff;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  transition: all 0.2s;
  border: 2px solid transparent;
}
.contact-form input[type="submit"]:hover {
  background: #fff;
  border: 2px solid #6278DF;
  color: #6278DF;

}

/* .btn-info {
  color: #000;
  background-color: #0dcaf0;
  border-color: #0dcaf0;
} */
/* -----------------------------------
   Contact Section End Here
------------------------------------- */
